#main-Calculator {
  width: 60%;

  margin: auto;
}
.input {
  padding: 12px 90px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  margin: 0px 20px;
}
.inputBar {
  padding: 12px 220px;
  justify-content: center;
  margin: auto;
  margin-left: 50px;
}
.mainBtn {
  padding: 12px 280px;
  margin-left: 60px;
  background-color: rgb(234, 61, 61);
  font-weight: 800;
}
#main-Calculator {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  
}
#input{

  width: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 18px 100px;
  margin-left: 60px;
}